.home-container {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Колір тексту для контенту на фоні */
    text-align: center;
}